html, body, h1, div, nav, a {
  margin: 0px;
  padding: 0px;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

#sky {
  position: absolute;
  height: 100%;
  background-image: url("https://source.unsplash.com/aI1tDC8PaLM");
  background-size: cover;
  background-position: center;
}

nav {
  position: fixed;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  width: 100%;
}

#icons a {
  color: white;
  font-size: 230%;
  padding-left: 15px;
}

#icons a:last-of-type {
  padding-right: 15px;
}

h1 {
  color: white;
  font-weight: lighter;
  font-family: 'Pacifico', cursive;

  padding: 5px 15px;
}

#pause {
  position: absolute;
  z-index: 1;
  bottom: 15px;
  left: 50%;
  right: 50%;
  color: black;
  font-size: 250%;
  border: none;
  background: transparent;
}
